$primary_color : #2E3192;
$secondary_color: #00AEEF;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    // font-style: Roboto;
}

@media (min-width:1023px){
    .home-text{
        margin-top: 20vh;
    }
}

.home-row {
    background-color: #0F054C;
    height: auto;
}

.move {
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: moves 2s infinite;
}

@keyframes moves {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}
#blink{
    animation: blinks 3s ;
    animation-iteration-count: 1;
    transform-origin: center;

}
@keyframes blinks{
    50%{
        transform: scale(0.5)
    }
}
.rotatable{
    animation: rotates 3s 1;
    transform-origin: center;
}
@keyframes rotates{
    100%{
        // transform: rotate3d(0, 1, 1, 360deg);
        transform: rotateZ(360deg);
    }
}
.btn-home{
     height: 40px;
     border-radius: 40px;
     width: 120px;
     border: none;
     background-color: $secondary_color;
     color: white;
     transition: 0.4s;
}
.btn-home:hover{
    background-color: white;
    color: $secondary_color;;
}
#dialouge-home{
    position: absolute;
    width: 80vw;
    height: 70vh;
    overflow: scroll;
    align-items: center;
    transform: translateX(12.5%);
    justify-content: center;
    top: 20vh;
    justify-content: center;
    z-index: 9;
    background-color: rgba(1,1,1,0.766);
    color: white;
    text-align: center;
    padding: 20px;
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, $primary_color,$secondary_color);
    border-radius: 10px;
    transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, $primary_color,$secondary_color);
}

.img-hover{
    overflow: hidden;
}
.overflow-hidden{
    height: 900px;
    overflow: scroll;
}

.cards,
.img-responsive{
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.cards:hover .img-responsive{
    transform: scale(1.5);
}
.register{
    background-color: $primary_color;
    color: white;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 12px;
    text-decoration: none;
}
.register:hover{
    background-color: $secondary_color;
    color: white;
    border-radius: 43.33px;
    text-decoration: none;
}
.same-height{
    height: 970px;
}