@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Chilanka&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

@media (min-width: 1023px) {
  .home-text {
    margin-top: 20vh;
  }
}

.home-row {
  background-color: #0F054C;
  height: auto;
}

.move {
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: moves 2s infinite;
          animation: moves 2s infinite;
}

@-webkit-keyframes moves {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes moves {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

#blink {
  -webkit-animation: blinks 3s;
          animation: blinks 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes blinks {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes blinks {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.rotatable {
  -webkit-animation: rotates 3s 1;
          animation: rotates 3s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rotates {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotates {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.btn-home {
  height: 40px;
  border-radius: 40px;
  width: 120px;
  border: none;
  background-color: #00AEEF;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-home:hover {
  background-color: white;
  color: #00AEEF;
}

#dialouge-home {
  position: absolute;
  width: 80vw;
  height: 70vh;
  overflow: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(12.5%);
          transform: translateX(12.5%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20vh;
  justify-content: center;
  z-index: 9;
  background-color: rgba(1, 1, 1, 0.766);
  color: white;
  text-align: center;
  padding: 20px;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px black;
          box-shadow: inset 0 0 15px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #2E3192, #00AEEF);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #2E3192, #00AEEF);
}

.img-hover {
  overflow: hidden;
}

.overflow-hidden h2 {
  height: 76px;
}

.overflow-hidden p {
  height: 480px;
}

.cards,
.img-responsive {
  overflow: hidden;
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.cards:hover .img-responsive {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.register {
  background-color: #2E3192;
  color: white;
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  padding: 12px;
  text-decoration: none;
}

.register:hover {
  background-color: #00AEEF;
  color: white;
  border-radius: 43.33px;
  text-decoration: none;
}

.same-height {
  height: 970px;
}

.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-box .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: 320px;
  -webkit-box-shadow: 0 10px 30px rgba(1, 1, 1, 0.766);
          box-shadow: 0 10px 30px rgba(1, 1, 1, 0.766);
  overflow: hidden;
}

.container-box .card::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-100% + 8px);
  width: 100%;
  height: 100%;
  background: #2E3192;
  z-index: 1;
  -webkit-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.container-box .card:hover::before {
  bottom: 0px;
}

.container-box .card:hover div p {
  color: white;
}

.container-box .card div {
  position: relative;
  z-index: 2;
}

.container-box .card div h2 {
  margin-bottom: 10px;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #00AEEF;
  transition: 0.5s;
  -webkit-transform-origin: initial;
          transform-origin: initial;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 75px;
}

.container-box .card div p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 10px;
  font-size: 18 px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 315px;
}

.container-box .card div div a {
  background: white;
  text-decoration: none;
  padding: 6px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
}
/*# sourceMappingURL=main.css.map */