$primary_color : #2E3192;
$secondary_color: #00AEEF;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    // font-style: Roboto;
}

@media (min-width:1023px){
    .home-text{
        margin-top: 20vh;
    }
}

.home-row {
    background-color: #0F054C;
    height: auto;
}

.move {
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: moves 2s infinite;
}

@keyframes moves {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}
#blink{
    animation: blinks 3s ;
    animation-iteration-count: 1;
    transform-origin: center;

}
@keyframes blinks{
    50%{
        transform: scale(0.5)
    }
}
.rotatable{
    animation: rotates 3s 1;
    transform-origin: center;
}
@keyframes rotates{
    100%{
        // transform: rotate3d(0, 1, 1, 360deg);
        transform: rotateZ(360deg);
    }
}
.btn-home{
     height: 40px;
     border-radius: 40px;
     width: 120px;
     border: none;
     background-color: $secondary_color;
     color: white;
     transition: 0.4s;
}
.btn-home:hover{
    background-color: white;
    color: $secondary_color;;
}
#dialouge-home{
    position: absolute;
    width: 80vw;
    height: 70vh;
    overflow: scroll;
    align-items: center;
    transform: translateX(12.5%);
    justify-content: center;
    top: 20vh;
    justify-content: center;
    z-index: 9;
    background-color: rgba(1,1,1,0.766);
    color: white;
    text-align: center;
    padding: 20px;
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, $primary_color,$secondary_color);
    border-radius: 10px;
    transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, $primary_color,$secondary_color);
}

.img-hover{
    overflow: hidden;
}
.overflow-hidden{
    h2{
        height: 76px;
    }
    p{
        height: 480px;
    }
}

.cards,
.img-responsive{
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.cards:hover .img-responsive{
    transform: scale(1.5);
}
.register{
    background-color: $primary_color;
    color: white;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 12px;
    text-decoration: none;
}
.register:hover{
    background-color: $secondary_color;
    color: white;
    border-radius: 43.33px;
    text-decoration: none;
}
.same-height{
    height: 970px;
}
.container-box{
    display: flex;
    justify-content: space-between;
}
.container-box{
    .card{
        flex: 1;
        position: relative;
        width: 320px;
        box-shadow: 0 10px 30px rgba(1,1,1,0.766);
        overflow: hidden;
    }
}
.container-box{
    .card::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: calc(-100% + 8px);
        width: 100%;
        height: 100%;
        background: $primary_color;
        z-index: 1;
        transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    }
}
.container-box{
    .card:hover::before{
        bottom: 0px;
    }
}
.container-box {
    .card:hover div p {
       color: white;
    }
}

.container-box{
    .card{
        div{
            position: relative;
            z-index: 2;
        }
    }
}
.container-box {
    .card {
        div {
            h2{
                margin-bottom: 10px;
                font-size: 30px;
                transition: 0.5s;
                color: $secondary_color;
                transition: 0.5s;
                transform-origin: initial;
                flex: 1;
                height: 75px;
            }
        }
    }
}
.container-box {
    .card {
        div {
            p {
                flex: 1;
                margin-bottom: 10px;
                font-size: 18 px;
                transition: 0.5s;
                height: 315px;
            }
        }
    }
}
.container-box {
    .card {
        div {
            div {
                a{
                    background: white;
                    text-decoration: none;
                    padding: 6px 10px;
                    transition: 0.5s;
                    font-weight: 600;
                    position: relative;
                    border-radius: 26.67px;
                }
            }
        }
    }
}
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}