<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="icon" href="../assets/icon.png">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    {{>header}}
    <div class="container">
        <div class="row">
            <div class="col-xl-16 col-md-6 col-sm-12 col-12 p-5">
                <div class="p-3" data-tilt  style="background-color:#00AEEF;display:flex;justify-content:space-around;box-shadow:15px 15px 15px black;">
                <h5>Feel free to reach us</h5>
                <p>76818 95645<br>
                Patia, Bhubaneswar</p>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-12 p-3" data-tilt>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29926.08720849142!2d85.80669183185593!3d20.351493864513337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a190912b69339ab%3A0xa11e7186a04f1474!2sPatia%2C%20Bhubaneswar%2C%20Odisha!5e0!3m2!1sen!2sin!4v1569664403979!5m2!1sen!2sin"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

    {{>footer}}
    {{!-- <script src="../JS/vanilla-tilt.js"></script> --}}
    <script src="../JS/tilt.js"></script>
</body>

</html>