<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="icon" href="../assets/icon.png">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    {{>header}}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <div class="p-2" style="background-color: #2E3192;border-radius:8px;transform-style: preserve-3d"
                    data-tilt>
                    <h2 style="text-align: center;font-weight:600;color:#00AEEF;transform-style: preserve-3d">Projects</h2>
                    
                    <p style="line-height: 2rem;color:white;transform: translateZ(20px);">
                        <span style="color: #00AEEF">Vehicle detection and counting : </span>
                        Canny transportation frameworks and wellbeing driver-help frameworks significant examine
                        subjectsinthefieldoftransportation and traffic management.This
                        contemplate explores the key issues in front vehicle identification and following
                        dependent on PC vision. A video of a determined vehicle on a urban organized street
                        is utilized to anticipate the resulting movement of the front vehicle.Using the
                        customary sensors such as magnetometer indicators, circle locators, ultrasonic
                        sensors, and reconnaissance video cameras may make harm the street surface. Then,
                        on the grounds that a large number of these sensors should be introduced in urban
                        zones, the expense of this work is high. Among them, observation camcorders are
                        ordinarily utilized sensors in the traffic checking field, which can give video stream to
                        vehicle identification and checking. The video stream is caught by a camera mounted
                        and the indicator can manage two situations(static foundation and moving
                        background).Here full-highlighted programmed framework for vehicle identification,
                        and tallying is introduced. This framework has numerous applications in example
                        acknowledgment and machine vision and they goes from complex security
                        frameworks to regular zones and from stopping admission to urban traffic control.
                        This framework has complex qualities because of assorted impacts as mist, downpour,
                        shadows, uneven light conditions, impediment, variable separations, speed of vehicle,
                        scene's point in outline, number of vehicles in the scene and others. The fundamental
                        goal of this work is to demonstrate a framework that takes care of the pragmatic issue
                        of vehicle distinguishing proof for genuine scenes. All means of the procedure, from
                        video procurement to optical character acknowledgment are considered to accomplish
                        a programmed ID of vehicle.
                    </p>
                    <p style="line-height: 2rem;color:white;transform: translateZ(20px);">
                        <span style="color: #00AEEF">Warehouse management system : </span>
                        It emphasizes on inventory managemet by using IOT, details of the project is given in the pdf.
                        and videos.
                    </p>
                    <p style="line-height: 2rem;color:white;transform: translateZ(20px);">
                        <span style="color: #00AEEF">Street light automation : </span>
                        The street light goes with the Idea to save energy, which is wasted due to uneccesarry use of street light, we propose
                        an Idea to use those lights according to needs.
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    {{!-- <script src="../JS/vanilla-tilt.js"></script> --}}
    <script src="../JS/tilt.js"></script>
</body>

</html>