<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research & Development</title>
    <link rel="icon" href="../assets/icon.png">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    {{>header}}
            <div class="container">
                <div class="row mt-5">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <div class="p-3" style="background-color: #2E3192;border-radius:8px;transform-style: preserve-3d" data-tilt>
                            <h2 style="text-align: center;font-weight:600;color:#00AEEF;transform-style: preserve-3d">Research & Development</h2>
                            <p style="line-height: 2rem;color:white;transform: translateZ(20px);padding:1.2rem;">R&D:We are an Innovation driven company,who work on ideals of EDISON and TESLA.The good part of being new is we get to
                            work on all the new technology that are in the market today,
                            we purely emphasize on research and development in the field of IOT machine learning embedded systems and what ever
                            technology there is still left untouched.</p>
                        </div>
                    </div>
                </div>
            </div>

    {{>footer}}
    {{!-- <script src="../JS/vanilla-tilt.js"></script> --}}
    <script src="../JS/tilt.js"></script>
</body>

</html>