<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training</title>
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{{>header}}
<div class="container">
    <div class="row mt-4">
        <div class="col-xl-3 col-md-6 col-sm-12 col-12 container-box p-4">
            <div class="p-3 card">
                <div>
                    <h2>Core Java</h2>
                    <p>"Core Java" is Sun's term, used to refer to Java SE, the standard edition and a set of related technologies, like the
                    Java VM, CORBA, et cetera. This is mostly to differentiate from, say, Java ME or Java EE. Also note that they're talking
                    about a set of libraries rather than the programming language.
                    <br>
                    <span style="color: #00AEEF;">Duration :</span>40 hrs<br>
                    <span style="color: #00AEEF;">Price :</span>INR 3600
                    </p>
                    <div class="row ml-auto">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="../Documents/Corejava.pdf" target="_blank">Read More</a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="/training_register">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12 col-12 container-box p-4">
            <div class="p-3 card">
                <div>
                    <h2>Embedded System</h2>
                    <p>An "embedded system" is a controller with a dedicated function within a larger mechanical or electrical system, often with
                    real-time computing constraints. It is embedded as part of a complete device often including hardware and mechanical
                    parts. Embedded systems control many devices in common use today.
                    <br>
                    <span style="color: #00AEEF;">Duration :</span>60 hrs<br>
                    <span style="color: #00AEEF;">Price :</span>INR 5500</p>
                    <div class="row ml-auto">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="../Documents/Embedded_System.pdf" target="_blank">Read More</a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="/training_register">Register</a>
                        </div>
                    </div>
                    {{!-- <div class="text-center m-3 p-3">
                        <a href="../Documents/Embedded_System.pdf" target="_blank">Read More</a>
                    </div> --}}
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12 col-12 container-box p-4">
            <div class="p-3 card">
                <div>
                    <h2>Internet Of Things</h2>
                    <p>The Internet of Things is a system of interrelated computing devices, mechanical and digital machines, objects, animals
                    or people that are provided with unique identifiers and the ability to transfer data over a network without requiring
                    human-to-human or human-to-computer interaction.
                    <br>
                    <span style="color: #00AEEF;">Duration :</span>60 hrs<br>
                    <span style="color: #00AEEF;">Price :</span>INR 7000</p>
                    <div class="row ml-auto">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="../Documents/Internet_Of_Things.pdf" target="_blank">Read More</a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="/training_register">Register</a>
                        </div>
                    </div>
                    {{!-- <div class="text-center m-3 p-3">
                        <a href="../Documents/Internet_Of_Things.pdf" target="_blank">Read More</a>
                    </div> --}}
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12 col-12 container-box p-4">
            <div class="p-3 card">
                <div>
                    <h2>Machine Learning</h2>
                    <p>Machine learning is the scientific study of algorithms and statistical models that computer systems use to perform a
                    specific task without using explicit instructions, relying on patterns and inference instead. It is seen as a subset of
                    artificial intelligence.
                    <br>
                    <span style="color: #00AEEF;">Duration :</span>60 hrs<br>
                    <span style="color: #00AEEF;">Price :</span>INR 5500</p>
                    <div class="row ml-auto">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="../Documents/Machine_Learning.pdf" target="_blank">Read More</a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                            <a style="font-size: 12px;" href="/training_register">Register</a>
                        </div>
                    </div>
                    {{!-- <div class="text-center m-3 p-3">
                        <a href="../Documents/Machine_Learning.pdf" target="_blank">Read More</a>
                    </div> --}}
                </div>
            </div>
        </div>

        
    </div>
</div>




{{>footer}}
</body>
</html>
